.tree-span
{
	background:url('images/sprite.png');width:16px;height:16px;display: inline-block;
	vertical-align: top;
}
.tree-span-collapsed
{
	background-position:0 -16px; 
}
.tree-span-expanded
{
	background-position:0 -32px; 
}
.tree-span-none
{
	background-position:-96px 0; 
}
.tree-content-collapsed
{
	display: none;
}
.tree-main
{
	list-style:none;
}
.tree-content-expanded
{
	display: block;
}
.tree-checkbox
{
	margin:0px !important;
	margin-right:2px !important; 
}